<form action="/cars" method="post">
  <label for="description">Add a new used car</label>
  <input id="description" name="description" type="text">
  <label for="price">Add the car's pricer</label>
  <input id="price" name="price" type="text">
  <button type="submit">Submit</button>
</form>